.card {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.cards {
  width: 85%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}
.cards2 {
  width: 41%;
  margin: 70px auto;
  display: flex;
  justify-content: space-between;
}
.card-bottom p {
  margin: 0;
}
.card-bottom {
  margin: 0;
  width: 279px;
  height: 40px;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-bottom-flex img:hover {
  transform: scale(1.4);
  transition: 0.3s;
}
.card-bottom-flex {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 720px) {
  nav {
    width: 600px;
    margin: 0 auto;
  }
  body {
    width: 697px;
  }
  .parts {
    flex-wrap: wrap;
  }
  .part1 p {
    font-size: 70px;
  }
  .part1 {
    margin-bottom: 25px;
    width: 630px;
    height: 600px;
  }
  .part2 p {
    font-size: 70px;
  }
  .part2 {
    margin-bottom: 25px;
    width: 630px;
    height: 600px;
  }
  .part3 p {
    font-size: 70px;
  }
  .part3 {
    margin-bottom: 25px;
    width: 630px;
    height: 600px;
  }
  footer {
    width: 697px;
  }
  .nav-links1 {
    display: none;
  }
  .gamburger-menu {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 845px;
    height: 1200px;
  }
  .part11 p {
    font-size: 70px;
  }
  .part11 {
    margin-bottom: 25px;
    width: 630px;
    height: 600px;
  }
  .part21 p {
    font-size: 70px;
  }
  .part21 {
    margin-bottom: 25px;
    width: 630px;
    height: 600px;
    margin: 25px auto;
  }
  .part31 p {
    font-size: 70px;
  }
  .part31 {
    margin-bottom: 25px;
    width: 630px;
    height: 600px;
  }
  .cards2 {
    display: none;
  }
  .contact {
    flex-wrap: wrap;
    width: 697px;
  }
  .contact > img {
    border-radius: 60px;
    width: 600px;
    margin: 50px auto;
  }
  .contact2-back {
    border-radius: 60px;
    width: 600px;
    margin: 50px auto;
  }
}
.card {
  display: none;
}
